body {
	height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
	margin: 0;
	user-select: none;
	background-color: #EEEEEE;
	font-family: Arial, Helvetica, sans-serif
}

*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
 
*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}
