.login-wrapper {
	position: relative;
	top: 0;
	display: flex;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-image: url('../assets/background.jpg');
}

#firebase-login {
	margin: auto;
	opacity: 1;
}
